.listOfServices {
    display: flex;
    justify-content: center;
}

.name-field,
.email-field,
.confirm-button {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.name-field {
  margin-bottom: 5vh;
}

.confirm-button {
    margin-bottom: 2vh;
}