$lightBorder: 0.5px solid #a5a5a5;
$lightRadius: 0.5rem;
.listOfServices {
    display: flex;
    justify-content: center;
}

.listOfTimes,
.name-field,
.email-field,
.confirm-button {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.name-field {
  margin-bottom: 5vh;
}

#create-box {
  border: $lightBorder;
  border-radius: $lightRadius;
  padding: 1rem;
}
.confirm-button {
    margin-bottom: 2vh;
}